%p#notice= notice
%h2= @day_plan.name

%table.table
  %thead
    %tr
      %th Recipe
      %th Carbohydrates
      %th Fat
      %th Protein
      %th
      %th
      %th

  %tbody
    - @day_plan_recipes.each do |day_plan_recipe|
      %tr
        %td= day_plan_recipe.recipe_name
        %td= day_plan_recipe.carbohydrates
        %td= day_plan_recipe.fat
        %td= day_plan_recipe.protein
        %td= link_to 'Ingredients', recipe_recipe_ingredients_path(day_plan_recipe), class: 'btn btn-primary'
        %td= link_to 'Rename', edit_day_plan_day_plan_recipe_path(@day_plan, day_plan_recipe), class: 'btn btn-info'
        %td= link_to 'Destroy', [@day_plan, day_plan_recipe], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

    %tr
      %td
      %td
        %strong
          = @day_plan.carbohydrates
      %td
        %strong
          = @day_plan.fat
      %td
        %strong
          = @day_plan.protein
      %td{:colspan => "3"}

%br

= link_to 'Add Recipe', new_day_plan_day_plan_recipe_path(@day_plan), class: 'btn btn-default'
