%h1 Day Plans

%table.table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @day_plans.each do |day_plan|
      %tr
        %td= day_plan.name
        - day_plan.day_plan_recipes.each do |day_plan_recipe|
          %td= day_plan_recipe.recipe_name
        %td= link_to 'Show', day_plan_day_plan_recipes_path(day_plan), class: 'btn btn-primary'
        %td= link_to 'Edit', edit_day_plan_path(day_plan), class: 'btn btn-info'
        %td= link_to 'Destroy', day_plan, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

= link_to 'New Day plan', new_day_plan_path, class: 'btn btn-default'
