%p#notice= notice

%p
  %b Name:
  = @day_plan.name

= link_to 'Recipes', day_plan_day_plan_recipes_path(@day_plan)

= link_to 'Edit', edit_day_plan_path(@day_plan)
\|
= link_to 'Back', day_plans_path
